*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
   
}

.dad{
    height: 100%;
   display: grid;
   grid-template-columns: 0.5fr 4fr 1fr 3fr ;
   
}
.dad > div {
    grid-row: 1/4;
}
.kid1{
   grid-column: 1/2;
    background: white;
    display: grid;
}
.kid2{
    background: #D58C95;
    grid-column: 2/4;
    
    
}
.kid3{
    grid-column: 4/5;
    z-index: 90;
    
   
}
.kid4{
    background: url(portrait.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    grid-column: 4/6;
    z-index: 80;
}
/*waves waves waves waves waves waves waves waves waves waves waves waves waves waves waves waves waves waves waves waves */
svg {
    height: 100vh;
    
}

svg > .st01{
animation: waves1 5s ;
animation-iteration-count: infinite;
}

@keyframes waves1 {
    0%{
       transform: scalex(1); 
       
    }
    5%{
        transform: scaleX(0.9);
    }
    10%{
        transform: scalex(0.8); 
    
    }
    15%{
        transform: scaleX(0.9);
    }
    20%{
        transform: scalex(1); 
       
    }
    25%{
        transform: scaleX(0.9);
    }
    30%{
        transform: scalex(0.8); 
      
    }
    35%{
        transform: scaleX(0.9);
    }
    40%{
        transform: scalex(); 
    }
    45%{
        transform: scaleX(0.9);
    }
    50%{
        transform: scalex(1); 
       
    }
    55%{
        transform: scalex(0.8);
    }
    60%{
        transform: scalex(0.7); 
       
    }
    65%{
        transform: scalex(0.9);
    }
    70%{
       transform: scalex(0.8); 
        
    }
    75%{
        transform: scalex(0.7);
    }
80% {
    transform: scaleX(0.9);
}
85%{
    transform : scalex(0.8);
}
90%{
    transform: scaleX(0.9);
}
95% {
    transform : scalex(0.8);
}
100%{
    transform: scaleX(1);
}
    }


svg > .st02{
    animation: waves2 5s ;
    animation-iteration-count: infinite;
    }
    
    @keyframes waves2 {
    0%{
       transform: scalex(1); 
    }
    10%{
        transform: scalex(0.9); 
    
    }
    20%{
        transform: scalex(0.9); 
       
    }
    30%{
        transform: scalex(0.8); 
      
    }
    40%{
        transform: scalex(0.9); 
    }
    50%{
        transform: scalex(0.8); 
       
    }
    60%{
        transform: scalex(0.7); 
       
    }
    70%{
       transform: scalex(0.6); 
        
    }
80% {
    transform: scaleX(0.8);
}
90%{
    transform: scaleX(0.9);
}
100%{
    transform: scaleX(1);
}
    }

svg > .st03{
    animation: waves3 5s ;
    animation-iteration-count: infinite;
    }
    
    @keyframes waves3 {
        0%{
           transform: scalex(1); 
        }
        10%{
            transform: scalex(0.8); 
        
        }
        20%{
            transform: scalex(0.6); 
           
        }
        30%{
            transform: scalex(0.7); 
          
        }
        40%{
            transform: scalex(0.9); 
        }
        50%{
            transform: scalex(1); 
           
        }
        60%{
            transform: scalex(0.8); 
           
        }
        70%{
           transform: scalex(0.8); 
            
        }
    80% {
        transform: scaleX(0.7);
    }
    90%{
        transform: scaleX(0.8);
    }
    100%{
        transform: scaleX(1);
    }
        }

svg > .st04{
    animation: waves4 5s ;
    animation-iteration-count: infinite;
    }
    
    @keyframes waves4 {
        0%{
           transform: scalex(1); 
        }
        10%{
            transform: scalex(0.8); 
        
        }
        20%{
            transform: scalex(0.9); 
           
        }
        30%{
            transform: scalex(0.7); 
          
        }
        40%{
            transform: scalex(0.6); 
        }
        50%{
            transform: scalex(0.5); 
           
        }
        60%{
            transform: scalex(0.7); 
           
        }
        70%{
           transform: scalex(0.9); 
            
        }
    80% {
        transform: scaleX(0.9);
    }
    90%{
        transform: scaleX(0.8);
    }
    100%{
        transform: scaleX(1);
    }
        }
        /*end of waves end of waves end of waves end of waves end of waves end of waves end of waves end of waves end of waves */