*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

svg {
    height: 100vh;
}

svg > .st01{
animation: waves1 5s ;
animation-iteration-count: infinite;
}

@keyframes waves1 {
    0%{
       transform: scalex(1); 
       
    }
    10%{
        transform: scalex(0.9); 
    
    }
    20%{
        transform: scalex(0.8); 
       
    }
    30%{
        transform: scalex(0.7); 
      
    }
    40%{
        transform: scalex(0.8); 
    }
    50%{
        transform: scalex(0.7); 
       
    }
    60%{
        transform: scalex(0.7); 
       
    }
    70%{
       transform: scalex(0.8); 
        
    }
80% {
    transform: scaleX(0.9);
}
90%{
    transform: scaleX(0.9);
}
100%{
    transform: scaleX(1);
}
    }


svg > .st02{
    animation: waves2 5s ;
    animation-iteration-count: infinite;
    }
    
    @keyframes waves2 {
    0%{
       transform: scalex(1); 
    }
    10%{
        transform: scalex(0.9); 
    
    }
    20%{
        transform: scalex(0.9); 
       
    }
    30%{
        transform: scalex(0.8); 
      
    }
    40%{
        transform: scalex(0.9); 
    }
    50%{
        transform: scalex(0.8); 
       
    }
    60%{
        transform: scalex(0.7); 
       
    }
    70%{
       transform: scalex(0.6); 
        
    }
80% {
    transform: scaleX(0.8);
}
90%{
    transform: scaleX(0.9);
}
100%{
    transform: scaleX(1);
}
    }

svg > .st03{
    animation: waves3 5s ;
    animation-iteration-count: infinite;
    }
    
    @keyframes waves3 {
        0%{
           transform: scalex(1); 
        }
        10%{
            transform: scalex(0.8); 
        
        }
        20%{
            transform: scalex(0.6); 
           
        }
        30%{
            transform: scalex(0.7); 
          
        }
        40%{
            transform: scalex(0.9); 
        }
        50%{
            transform: scalex(1); 
           
        }
        60%{
            transform: scalex(0.8); 
           
        }
        70%{
           transform: scalex(0.8); 
            
        }
    80% {
        transform: scaleX(0.7);
    }
    90%{
        transform: scaleX(0.8);
    }
    100%{
        transform: scaleX(1);
    }
        }

svg > .st04{
    animation: waves4 5s ;
    animation-iteration-count: infinite;
    }
    
    @keyframes waves4 {
        0%{
           transform: scalex(1); 
        }
        10%{
            transform: scalex(0.8); 
        
        }
        20%{
            transform: scalex(0.9); 
           
        }
        30%{
            transform: scalex(0.7); 
          
        }
        40%{
            transform: scalex(0.6); 
        }
        50%{
            transform: scalex(0.5); 
           
        }
        60%{
            transform: scalex(0.7); 
           
        }
        70%{
           transform: scalex(0.9); 
            
        }
    80% {
        transform: scaleX(0.9);
    }
    90%{
        transform: scaleX(0.8);
    }
    100%{
        transform: scaleX(1);
    }
        }